/* ----------------provided styling-------------- */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  /* textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  } */
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    margin-bottom: 20px;
    padding: 3rem 2rem;
  }
  
  /* .description{
    white-space: pre-wrap;
  } */
  
  /* .time-block{
    width: 100%;
    text-align: center;
    border-radius: 15px;
  } */
  
  /* .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  } */
  
  /* .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  } */
  
  .past {
    background-color: #d5cfe2;
    color: rgb(0, 0, 0);
  }
  
  .present {
    background-color: #ff6961;
    color: rgb(0, 0, 0);
  }
  
  .future {
    background-color: #77dd77;
    color: rgb(0, 0, 0);
  }
  
  /* .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    height: 100px;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  } */


  /*--------------------- my styling-----------------------*/



.input {
      border: none;
      border-radius: 5px;
      height: 55px;
      max-width: 90%;
      display: inline-block;
      margin-bottom: 10px !important;
      
  }

  .myUl {
      padding: 0;
      list-style: none;
  }
  .timeLabel {
      margin: 0 15px 10px 0;
      padding: 0.5rem;
      text-align: left;
      width: 50px;
  }

  .Btn {
      height: 35px;
      width: 35px;
      position: relative;
      right: 45px;
      z-index: 100;
      border: none;
      font-size: 14px;
      border-radius: 5px;
  }

  .Btn:hover {
      background-color: red;
      color: #fff;
  }

  #currentDay {
      font-size: 35px;
      margin-top: 50px;
      margin-bottom: 0;
  }

  li {
      height: 67px;
      text-align: center;
  }

  .saveDiv {
      display: flex;
      align-items: top;
      justify-content: center;
      margin-bottom: 5px;
  }

  .fa-save {
      border: none;
      background: transparent;
      border-radius: 10px;
      width: 80px;
      height: 70px;
      text-align: center;
      font-size: 4rem;
      color: #00cca0;
      padding: 3px;
  }

  .fa-save:hover {
    background-color: #06AED5;
    color: rgb(195, 253, 36);
    cursor: pointer;
  }
  
 /*Media queries  */
 @media(max-width: 1200px) {
   .container{
    padding: 0;
    margin: auto;
    max-width: 90%
   }

   .input {
     max-width: 80%;
   }
}

@media(max-width: 560px) {
  .input {
    height: 40px;
  }

  li {
    height: fit-content;
    
  }

  .Btn {
    height: fit-content;
    width: fit-content;
  }

  .timeLabel {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media(max-width: 390px) {
    .Btn {
      left: 140px;
      top: -37px;
    }

    .display-3 {
      font-size: 50px;
    }

}